<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css-reset.css" />
    <link rel="stylesheet" href="about_style.css" />
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <h1>Woz</h1>
      </div>

      <div class="navBar">
        <div class="button"><a href="index.html">Home</a></div>
        <div class="button"><a href="about.html">About</a></div>
        <div class="button"><a href="marketPlace.html">MarketPlace</a></div>
        <div class="button"><a href="products.html">Products</a></div>
        <div class="button"><a href="#">Contact</a></div>
      </div>
    </div>

    <div class="about-section">
      <div class="content content-1">
        <div class="logo-text">
          <h1>Woz</h1>
        </div>
        <p>
          It is known fact that consumer electronics can be better for all of us
          and for the environment. Unlike most products, ours are open for you
          to repair, upgrade and customize to your needs.
        </p>
      </div>
    </div>

    <div class="about-section">
      <div class="content content-2">
        <div class="steve-wozniak">
          <img
            src="../res/about/steveWoz.png"
            alt="Image of Steve Wozniak"
            srcset=""
          />
        </div>
        <div class="about-steve">
          <h1>Our Inspiration</h1>
          <p>
            Our company is a tribute to the legend steve wozniak, Being
            literally and figuratively the backbone of what apple is today we
            figured he is much under appreciated for the skill he had in his
            time. Our first launching notebook is named after his invention the
            "Blue Box".
          </p>
        </div>
      </div>
    </div>

    <div class="about-section">
      <div class="content content-3">
        <div class="motto-img">
          <img
            src="../res/about/laptopCartoon.jpg"
            alt="Cartoon image of a laptop"
            srcset=""
          />
        </div>
        <div class="motto-text">
          <h1>Our Motto</h1>
          <p>
            We aim to reduce the resources spent on making new notebooks by
            giving back the consumers their right to repair, a right which has
            become out of fashion, a right which will improve the livelihood of
            everyone
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
