:root{
    --gradient: linear-gradient(45deg, white 0%, rgb(255, 138, 80) 40%, rgb(1, 171, 209) 100%);
    --logoGradient: linear-gradient(45deg, #ffffff 0%, #32bd07 20%, #c7c136 40%, #d22828 60%, #963d97 80%, #1ebbea 100%);
    --textGradient: linear-gradient(71deg, rgba(199,193,54,1) 4%, rgba(210,40,40,1) 38%, rgba(175,52,105,1) 75%, rgba(175,52,105,1) 75%, rgba(30,187,234,1) 100%);;
    --parFont: 'JetBrains Mono', monospace;
    --headFont: 'Zilla Slab', serif;
    --logoFont: 'MuseoModerno', sans-serif;
}

body{
    background-color: black;
}

h1{
    color: white;
    font-family: var(--headFont);
}

p,a{
    color: white;
    font-family: var(--parFont);
}

.nav{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 4rem;

    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

    .logo > h1{
        font-size: 2rem;
        color: white;
        margin-left: 2rem;
        font-family: var(--logoFont);
    }

    .navBar{
        display: flex;
        width: 40rem;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        margin-left: 2rem;
    }

    .navBar .button{
        background-color: white;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .navBar .button:hover{
        background: rgb(244,97,23);
        background: var(--gradient);
        background-size: 700%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: smooth-text 0.4s ease-in-out forwards;
    }


.about-section{
    display: flex;
    width: 100%;
    height: 90vh;
}

/* Section 1 */

    .content{
        display: flex;
        align-items: center;
    }

    .content-1{
        margin: 3rem auto 0rem auto;
        width: 50rem;
    }

    .logo-text{
        margin-top: 10rem;
        margin-left: -5rem;
        transform: rotate(-90deg) translateX(50%) translateY(50%);
        background: rgb(244,97,23);
        background: var(--logoGradient);
        background-size: 700%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: smooth-text 1s ease-in-out forwards;
    }
    
    .logo-text > h1{
        width: fit-content;
        font-size: 8rem;
        font-family: var(--logoFont);
    }
    
    .content > p{
        width: 30rem;
        margin: 0rem 0rem 0rem 3rem;
        font-size: 1.4rem;
        font-style: italic;
    }

/* Section 2 */

    /* overriding margin */
    .content-2{
        margin: 0rem auto;
    }

    .steve-wozniak{
        margin: 0rem auto;
    }
    
    .steve-wozniak > img{
        width: 25rem;
        border-radius: 50%;
        
        box-shadow: 0rem 0rem 1rem white;
    }

    .about-steve > h1{
        margin: 3rem;
        font-size: 4rem;
        background: rgb(244,97,23);
        background: var(--textGradient);
        background-size: 100%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .about-steve > p{
        width: 30rem;
        margin: 3rem;
        font-size: 1.2rem;
    }

/* Section 3 */

    .content-3{
        margin: 0 auto;
    }

    .motto-img > img{
        width: 30rem;
        border-radius: 10rem;
    }

    .motto-text{
        margin: 3rem 3rem 3rem -3rem;
        border-radius: 5rem;
        border-width: 0.05rem;
        border-style: solid;
        border-color: white;
        background-color: black;
    }

    .motto-text > h1{
        margin: 3rem 3rem 3rem 3rem;
        font-size: 4rem;
        background: rgb(244,97,23);
        background: var(--textGradient);
        background-size: 60%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .motto-text > p{
        width: 30rem;
        margin: 3rem 3rem 3rem 3rem;
        font-size: 1.2rem;
    }
/* Animations */

@keyframes smooth-text {
    0% {
        background-size: 700%;
    }
    20% {
        background-size: 400%;
    }
    40%{
        background-size: 200%;
    }
    100% {
        background-size: 100%;
    }
}