:root {
  --gradient: linear-gradient(
    45deg,
    white 0%,
    rgb(255, 138, 80) 40%,
    rgb(1, 171, 209) 100%
  );
  --logoGradient: linear-gradient(
    45deg,
    #ffffff 0%,
    #32bd07 20%,
    #c7c136 40%,
    #d22828 60%,
    #963d97 80%,
    #1ebbea 100%
  );
  --textGradient: linear-gradient(
    71deg,
    rgba(199, 193, 54, 1) 4%,
    rgba(210, 40, 40, 1) 38%,
    rgba(175, 52, 105, 1) 75%,
    rgba(175, 52, 105, 1) 75%,
    rgba(30, 187, 234, 1) 100%
  );
  --buyGradient: linear-gradient(
    90deg,
    rgba(69, 25, 82, 1) 0%,
    rgba(128, 13, 76, 1) 30%,
    rgba(249, 32, 77, 1) 60%,
    rgba(255, 115, 0, 1) 100%
  );

  --parFont: "JetBrains Mono", monospace;
  --headFont: "Zilla Slab", serif;
  --logoFont: "MuseoModerno", sans-serif;
}

body {
  background-color: black;
}

h1 {
  color: white;
  font-family: var(--headFont);
}

p,
a {
  color: white;
  font-family: var(--parFont);
}

.nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 4rem;

  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.logo > h1 {
  font-size: 2rem;
  color: white;
  margin-left: 2rem;
  font-family: var(--logoFont);
}

.back-button {
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  color: black;
  border: 0.1rem black solid;
  cursor: pointer;

  margin-right: 1rem;
}

.back-button:hover {
  filter: invert(1);
}

.configure-box {
  width: 90%;
  margin: 2rem auto;
}

.configure-image > img,
.configure-image > video {
  width: 40rem;
  height: 30rem;
  position: fixed;
  left: 4rem;
  top: 8rem;
}

.configure-content {
  width: 40%;
  margin: 1rem 1rem 1rem 42rem;
  padding: 0.5rem;
  background-color: black;
}

.configure-content-title {
  font-size: 2rem;
  margin: 1rem auto;
  text-align: center;
}

.configure-subcontent {
  margin: 0.5rem;
}

.configure-subcontent > h1 {
  font-size: 1.4rem;
  margin: auto 1rem;
}

.choice {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 70%;
  padding: 1.2rem;
  margin: 1rem auto;
  border-radius: 1rem;
  background-color: black;
  outline: white 0.1rem solid;
}

.choice-content {
  width: 90%;
}

.choice-content-title {
  display: flex;
  justify-content: space-between;
}

.choice > input[type="radio"] {
  width: 1.1rem;
  height: 1.1rem;
  margin: 0;
  accent-color: black;
}

.choice:hover {
  background-color: rgb(48, 48, 48);
}
